<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wbm.forum.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.wbm.forum.entity.Menu">
            <id property="menuId" column="menu_id" jdbcType="INTEGER"/>
            <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="perm" column="perm" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        menu_id,menu_name,path,
        component,is_delete,create_time,
        perm
    </sql>
    <select id="selectPermissionByUid" resultType="java.lang.String">
        SELECT DISTINCT perm
        FROM user_role ur
                 LEFT JOIN role r ON ur.role_id = r.role_id
                 LEFT JOIN role_menu rm ON ur.role_id = rm.role_id
                 LEFT JOIN menu m ON m.menu_id = rm.menu_id
        WHERE uid = #{uid}
    </select>
    <select id="selectPathByUid"  resultType="java.lang.String">
        SELECT `path`
        FROM user_role ur
                 LEFT JOIN role r ON ur.role_id = r.role_id
                 LEFT JOIN role_menu rm ON ur.role_id = rm.role_id
                 LEFT JOIN menu m ON m.menu_id = rm.menu_id
        WHERE uid = #{uid}
    </select>
    <select id="selectComponentByUid"  resultType="java.lang.String">
        SELECT component
        FROM user_role ur
                 LEFT JOIN role r ON ur.role_id = r.role_id
                 LEFT JOIN role_menu rm ON ur.role_id = rm.role_id
                 LEFT JOIN menu m ON m.menu_id = rm.menu_id
        WHERE uid = #{uid}
    </select>
    <select id="selectMenuByRoleId" resultType="com.wbm.forum.entity.vo.RoleMenuVO">
        SELECT m.*
        FROM menu m
                 LEFT JOIN role_menu rm ON rm.menu_id = m.menu_id
                 LEFT JOIN role r ON r.role_id = rm.role_id
        WHERE r.role_id = #{roleId}
    </select>
</mapper>
