<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wbm.forum.mapper.PostMapper">

    <resultMap id="BaseResultMap" type="com.wbm.forum.entity.Post">
            <id property="pid" column="pid" jdbcType="INTEGER"/>
            <result property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isTop" column="is_top" jdbcType="VARCHAR"/>
            <result property="isDelete" column="is_delete" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="likes" column="likes" jdbcType="BIGINT"/>
            <result property="views" column="views" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        pid,uid,title,
        content,create_time,update_time,
        is_top,is_delete,type,
        likes,views
    </sql>

    <select id="selectCommentNum"  resultType="integer">
        select
    </select>
</mapper>
